@import 'bootstrap.min.css';

*:focus {
    background: red !important;
}

.tab-content {
    .tab-page {
        display: none;

        &.active {
            display: block;
        }

        label {
            input {

            }
        }
    }
}

.title {
    text-transform: capitalize;
}