@import 'bootstrap.min.css';

*:focus {
    background-color: red !important;
}

.tab-content {
    .tab-page {
        display: none;

        &.active {
            display: block;
        }

        a {
            display: block;
            height: 19px;
            padding: 3px 0 3px 30px;

            label input {
                display: none;
            }
        }

        a.selected {
            background: url(../img/tick.png) left center no-repeat;
        }
    }
}

.title {
    text-transform: capitalize;
}