@import 'bootstrap.min.css';
a:focus {
  background-color: #666666 !important;
  color: #ffffff !important;
}
button:focus {
  background: #666666;
}
.tab-content .tab-page {
  display: none;
  height: auto;
}
.tab-content .tab-page.active {
  display: block;
}
.tab-content .tab-page a {
  display: block;
  padding: 3px 0 3px 20px;
  margin: 0;
}
.tab-content .tab-page a label input {
  display: none;
}
.tab-content .tab-page a.selected {
  background: url(../img/tick.png) left center no-repeat;
}
.title {
  text-transform: capitalize;
}
